* {
  font-family: sans-serif;
  font-size:16px;
  color: #253564;
}
textarea {
  columns: 10;
  min-height: 200px;
  width:100%;
}
button {
  padding: 15px 25px;
  margin: 10px 25px;
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}
.container {
  margin: 0 auto;
  width:90%;
}
.card {
  float:left;
}
.card img{
  width:auto;
}
.alttag {
  margin: 5px 10px;
}
